* {
    margin: 0px;
    padding: 0px;
}

.main {
    width: 100%;
    background: linear-gradient(to top, rgba(0,0,0,0.5)50%, rgba(0,0,0,0.5)50%), url("background-image-home.jpg");
    background-position: center;
    background-size: cover;
    height: 100vh;
    opacity: 0.9;

}

.navbar {
    width: 1200px;
    height: 75px;
    margin: auto;
}

.icon {
    width: 200px;
    float: left;
    height: 70px;
}

.logo {
    color: #ff7200;
    font-size: 35px;
    font-family: Arial;
    padding: 20px;
    float: left;
    padding-top: 10px;
    
}